.logo {
    width: 40;
    margin-left: 20;
    margin-top: 6%;
}

.isSkip {
    margin-top: 6%;
    margin-left: 74%;
    text-transform: uppercase;
    font-weight: 200;
    color: white;
    font-size: 22;
    letter-spacing: .05;
}

.o-title {
    margin-top: 40%;
    margin-left: 30;
    color: white;
    font-weight: bold;
    font-size: 54;
}

.o-desc {
    color: white;
    margin-top: 49%;
    margin-left: 30;
    width: 90%;
    font-size: 17;
}

.o-btn {
    margin-top: 75%;
    width: 100%;
    height: 55;
    padding: 0, 30;
    flex-direction: row;
    justify-content: space-around;
}

.middle-btn {
    width: 100%;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    color: white;
    background-color: transparent;
    border-width: 2;
    border-color: white;
    font-size: 16;
}

.w-btn {
    color: black;
    background-color: white;
}